@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Montserrat:300,700');

$font-body: 'Lato', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$font-heading-s: 'Montserrat', sans-serif;
$font-script: 'Dancing Script', serif;
